body {
  color: #272044;
  font-family: "Work Sans", sans-serif;
  margin: 20px 30px;
  background-image: radial-gradient(73% 147%, #eadfdf 59%, #ece2df 100%),
    radial-gradient(
      91% 146%,
      rgba(255, 255, 255, 0.5) 47%,
      rgba(0, 0, 0, 0.5) 100%
    );
  background-blend-mode: screen;
}
h1 #banner {
  font-family: "Signika Negative", sans-serif;
  font-size: 60px;
  font-weight: bolder;
  line-height: 100px;
  text-align: left;
  text-transform: capitalize;
}
h2 {
  font-size: 45px;
}
h2 #weather-description {
  font-weight: bolder;
  text-align: center;
  text-transform: capitalize;
}
div h2 small {
  font-size: 30px;
  font-weight: bolder;
}
#all {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
div.information {
  font-weight: 500;
  margin: 0;
  display: block;
  color: #eadfdf;
  background-color: #1f7bdd;
}
div.search-bar {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
div.information h5 span {
  font-size: 24px;
  color: #eadfdf;
}
div.clearfix.forecast {
  font-family: "Poppins", sans-serif;
}
div.week-forecast {
  text-align: center;
  font-size: 20px;
}
div.week-forecast i {
  font-size: 45px;
  color: #0069d9;
}
div.week-forecast p {
  font-size: 25px;
  color: #183153;
}
